<h1>Welcome to MyCook</h1>
<h2>Your personal online cookbook</h1>

<p>
We're currently in beta, which means that you can't do anything. Sorry, nothing to see here. Move along.
</p>

<p>But you know what?</p>

<div style="font-family: 'Times New Roman'; font-size: 40pt">
<blink>We love Zed!</blink>
<marquee>He is our hero!</marquee>
</div>
