### This file contains system-specific configuration options that the test suite needs.
### Please customize it for your system.

# These are the user names of two normal, non-administrator users.
# Preferably, these are user accounts that are normally not used.
#
# NOTE: these users MUST be able to access this 'test' directory,
# otherwise the tests will fail.
normal_user_1: games
normal_user_2: daemon

# The username of a user that has less privileges than a normal user.
#
# NOTES:
# - this user MUST be able to access this 'test' directory, otherwise
#   the tests will fail.
# - this user MUST NOT have a negative UID value. So on OS X, this may
#   not be the 'nobody' user.
lowest_user: nobody

# A nonexistant username.
nonexistant_user: xxxxxxxxxxxxxxxxxxx
# A nonexistant user ID.
nonexistant_uid: 9999


# If you want to run the Nginx integration tests, then set the following
# config option to the full path of the Nginx binary. This Nginx binary *must*
# be compiled with Phusion Passenger support!
# nginx: /usr/local/sbin/nginx
