# This is a sample .gdbinit file that can aid you in debugging
# Passenger with GDB. Modify it to your liking and copy
# it to test/.gdbinit

# Ignore some signals.
handle SIGUSR1 noprint pass
handle SIGPIPE noprint pass

# Use Intel syntax for disassembles.
set disassembly-flavor intel

# Convenience command.
define rake
	shell rake $arg0
end

# Break on breakpoint() function.
break Passenger::breakpoint

# Linux-only. Comment out when not on Linux.
set print thread-events off

set detach-on-fork off
