<h1>Welcome to MyCook&trade;</h1>
<h2>Your personal online cookbook</h1>

<%= image_tag('angrywizard.gif', :style => 'float: right') %>

<p>We're currently in <strike>alpha</strike> <b>beta</b>. These are the things you can currently do:</p>
<ul>
<li><%= link_to 'Create a new recipe', new_recipe_url %></li>
<li><%= link_to 'See all recipes', recipes_url %></li>
<li><%= link_to 'Upload something useless', new_upload_url %></li>
</ul>

<p>Oh and you know what?</p>

<div style="font-family: 'Times New Roman'; font-size: 40pt; color: red">
<blink>We love Zed!</blink>
<marquee behavior="alternate" scrolldelay="20" scrollamount="6">He is our hero!</marquee>
</div>

<div><%= image_tag('header.png') %></div>
