# http://EditorConfig.org

root = true

[*]
end_of_line = lf
charset = utf-8

[bin/*]
indent_style=space
indent_size=2
trim_trailing_whitespace = true

[doc/*.txt]
indent_style=tab
indent_size=4

[doc/*/*.txt]
indent_style=tab
indent_size=4

[*.cpp]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.c]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.h]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.hpp]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.rb]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.cxxcodebuilder]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[config.ru]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[Rakefile]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[Gemfile]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.js]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[src/nginx_module/*.c]
indent_style = space
indent_size = 4

[src/nginx_module/*.h]
indent_style = space
indent_size = 4

[src/cxx_supportlib/vendor-modified/libev/*.c]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[src/cxx_supportlib/vendor-modified/libev/*.h]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[src/cxx_supportlib/vendor-copy/libuv/src/*.c]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[src/cxx_supportlib/vendor-copy/libuv/src/*.h]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[src/cxx_supportlib/vendor-copy/libuv/src/unix/*.c]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[src/cxx_supportlib/vendor-copy/libuv/src/unix/*.h]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[resources/templates/standalone/config.erb]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
