# http://EditorConfig.org

root = true
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
charset = utf-8

[bin/*]
indent_style = space
indent_size = 2

[dev/*]
indent_style = space
indent_size = 2

[*.cpp]
indent_style = tab
indent_size = 4

[*.c]
indent_style = tab
indent_size = 4

[*.h]
indent_style = tab
indent_size = 4

[*.hpp]
indent_style = tab
indent_size = 4

[*.rb]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2

[*.py]
indent_style = tab

[*.cxxcodebuilder]
indent_style = space
indent_size = 2

[config.ru]
indent_style = space
indent_size = 2

[Rakefile]
indent_style = space
indent_size = 2

[Gemfile]
indent_style = space
indent_size = 2

[*.js]
indent_style = tab
indent_size = 4

[src/nginx_module/*.c]
indent_style = space
indent_size = 4

[src/nginx_module/*.h]
indent_style = space
indent_size = 4

[src/nginx_module/*/*.c]
indent_style = space
indent_size = 4

[src/nginx_module/*/*.h]
indent_style = space
indent_size = 4

[src/cxx_supportlib/vendor-modified/libev/*.c]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[src/cxx_supportlib/vendor-modified/libev/*.h]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[src/cxx_supportlib/vendor-copy/libuv/src/*.c]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[src/cxx_supportlib/vendor-copy/libuv/src/*.h]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[src/cxx_supportlib/vendor-copy/libuv/src/unix/*.c]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[src/cxx_supportlib/vendor-copy/libuv/src/unix/*.h]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[resources/templates/standalone/config.erb]
indent_style = space
indent_size = 4
