[submodule "packaging/rpm"]
	path = packaging/rpm
	url = https://github.com/phusion/passenger_rpm_automation.git
[submodule "packaging/binaries"]
	path = packaging/binaries
	url = https://github.com/phusion/passenger_autobuilder.git
