references
scgi_demo
/test*.rb

.cache
.DS_Store
*.o
*.so
*.bundle
*.pyc
*.a
*.dSYM
ext/apache2/*.la
ext/apache2/*.lo
ext/apache2/*.slo
ext/apache2/.libs
ext/apache2/PassengerWatchdog
ext/apache2/PassengerHelperServer
ext/nginx/PassengerWatchdog
ext/nginx/PassengerHelperServer
ext/phusion_passenger/Makefile
ext/*.a
doc/rdoc
doc/cxxapi
doc/*.html
test/test.log
test/apache2.log
test/config.yml
test/coverage
test/cxx/CxxTestMain
test/oxt/oxt_test_main
test/stub/apache2/*.log
test/stub/apache2/*.pid
test/stub/apache2/httpd.conf
test/stub/zsfa/mycook
test/stub/zsfa/foo
pkg
