references
scgi_demo
/test*.rb

*.o
*.so
*.bundle
*.pyc
*.a
*.dSYM
.DS_Store
ext/apache2/*.la
ext/apache2/*.lo
ext/apache2/*.slo
ext/apache2/.libs
ext/apache2/ApplicationPoolServerExecutable
ext/nginx/HelperServer
ext/phusion_passenger/Makefile
ext/*.a
doc/rdoc
doc/cxxapi
doc/*.html
test/test.log
test/apache2.log
test/config.yml
test/coverage
test/CxxTests
test/ApplicationPoolServerExecutable
test/oxt/oxt_test_main
test/stub/railsapp/app/controllers/bar_controller.rb
test/stub/apache2/*.log
test/stub/apache2/*.pid
test/stub/apache2/httpd.conf
test/stub/zsfa/mycook
test/stub/zsfa/foo
pkg
