references
scgi_demo
test*.rb

*.o
*.so
ext/apache2/*.la
ext/apache2/*.lo
ext/apache2/*.slo
ext/apache2/.libs
ext/mod_rails/Makefile
ext/boost/src/*.a
test/Apache2ModuleTests
test/stub/railsapp/log/*
test/stub/railsapp2/log/*
benchmark/DummyRequestHandler
doc/rdoc
doc/c++api
pkg
