<% layout 'error_layout', :title => "Ruby on Rails application could not be started" do %>
<h1 class="error_title">Ruby on Rails application could not be started</h1>
<div id="content">

	The application has exited during startup (i.e. during the evaluation of
	<tt>config/environment.rb</tt>). The error message may have been
	written to the web server's log file. Please check the web server's log file
	to find out why the application exited.
	
	<dl>
	<dt>Application root:</dt>
	<dd>
		<tt class="filename"><%=h @app_root %></tt>
	</dd>
	</dl>

</div>
<% end %>
