<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="generator" content="Phusion Passenger">
	<title><%=h @title %></title>
	<style type="text/css">
		<%= include 'error_layout.css' %>
	</style>
	<link rel="stylesheet" type="text/css" href="http://www.modrails.com/error_pages/1.0/error_page.css">
</head>

<body>

	<div id="site_container">
		<div id="site_header">
			<ul class="corporate_identity <% if @enterprisey %>enterprise_edition<% end %>">
				<li class="logo"><a href="http://www.modrails.com"><span>Phusion Passenger</span></a></li>
			</ul>
		</div>
		<div id="site_body">
			<%= yield %>
		</div>
		<div id="site_footer">
			<!--
			   You are free to modify the footer as you see fit,
			   but we kindly ask of you to preserve to following
			   text. Thank you.
			-->
			<div class="container">
				Powered by <a href="http://www.modrails.com/">Phusion Passenger</a><% if @enterprisey %> (Enterprise Edition)<% end %>,
				<tt>mod_rails</tt> / <tt>mod_rack</tt> for Apache.
			</div>
		</div>
	</div>

</body>
</html>

