<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{TITLE}}</title>
    <style type="text/css">{{CSS|raw}}</style>
  </head>
  <body>
    <script>
      window.spec = {{SPEC|raw}};
    </script>
    <div id="root"></div>
    <script>{{JS|raw}}</script>
    <script>{{EXTENSION_JS|raw}}</script>
    <script>
      window.renderErrorPage();
    </script>
  </body>
</html>
