<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="generator" content="Phusion Passenger">
	<title>{{TITLE}}</title>
	<style type="text/css">
		{{CSS|raw}}
	</style>
	<link rel="stylesheet" type="text/css" href="http://www.modrails.com/error_pages/1.0/error_page.css">
</head>

<body>

	<div id="site_container">
		<div id="site_header">
			<ul class="corporate_identity">
				<li class="logo"><a href="http://www.modrails.com"><span>Phusion Passenger</span></a></li>
			</ul>
		</div>
		<div id="site_body">
			<h1 class="error_title">{{TITLE}}</h1>
			<div id="content">
				{{CONTENT|raw}}

				<dl>
				<dt>Application root</dt>
				<dd style="text-align: left">{{APP_ROOT}}</dd>
				<dt>Environment (value of RAILS_ENV, RACK_ENV, WSGI_ENV and PASSENGER_ENV)</dt>
				<dd style="text-align: left">{{ENVIRONMENT}}</dd>
				<dt>User and groups</dt>
				<dd style="text-align: left"><pre>{{USER_INFO|default=Unknown}}</pre></dd>
				<dt>Environment variables</dt>
				<dd style="text-align: left"><pre>{{ENVVARS|default=Unknown}}</pre></dd>
				{{if LOAD_PATH}}
					<dt style="text-align: left">Load path</dt>
					<dd><pre>{{LOAD_PATH}}</pre></dd>
				{{/if}}
				{{if LOADED_LIBSS}}
					<dt style="text-align: left">Loaded libraries</dt>
					<dd><pre>{{LOADED_LIBS}}</pre></dd>
				{{/if}}
				</dl>
			</div>
		</div>
		<div id="site_footer">
			<!--
			   You are free to modify the footer as you see fit,
			   but we kindly ask of you to preserve to following
			   text. Thank you.
			-->
			<div class="container">
				Powered by <a href="http://www.modrails.com/">Phusion Passenger</a>,
				<tt>mod_rails</tt> / <tt>mod_rack</tt> for Apache.
			</div>
		</div>
	</div>

</body>
</html>

