<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="generator" content="Phusion Passenger">
	<title>{{TITLE}}</title>
	<style type="text/css">
		{{CSS|raw}}
	</style>
	<link rel="stylesheet" type="text/css" href="http://www.modrails.com/error_pages/1.0/error_page.css">
	<style type="text/css">
		dd {
			text-align: left;
		}

		dd pre {
			margin-top: 0;
			margin-bottom: 0;
		}
	</style>
</head>

<body>

	<div id="site_container">
		<div id="site_header">
			<ul class="corporate_identity">
				<li class="logo"><a href="https://www.phusionpassenger.com"><span>Phusion Passenger</span></a></li>
			</ul>
		</div>
		<div id="site_body">
			<h1 class="error_title">{{TITLE}}</h1>
			<div id="content">
				{{CONTENT|raw}}

				<dl>
				<dt>Error ID</dt>
				<dd>{{ERROR_ID}}</dd>
				<dt>Application root</dt>
				<dd>{{APP_ROOT}}</dd>
				<dt>Environment (value of RAILS_ENV, RACK_ENV, WSGI_ENV, NODE_ENV and PASSENGER_APP_ENV)</dt>
				<dd>{{ENVIRONMENT}}</dd>
				{{if IS_RUBY_APP}}
					<dt>Ruby interpreter command</dt>
					<dd><pre>{{RUBY}}</pre></dd>
				{{/if}}
				<dt>User and groups</dt>
				<dd><pre>{{USER_INFO|default=Unknown}}</pre></dd>
				<dt>Environment variables</dt>
				<dd><pre>{{ENVVARS|default=Unknown}}</pre></dd>
				<dt>Ulimits</dt>
				<dd><pre>{{ULIMIT|default=Unknown}}</pre></dd>
				{{if SYSTEM_METRICS}}
					<dt>System metrics</dt>
					<dd><pre>{{SYSTEM_METRICS|default=Unknown}}</pre></dd>
				{{/if}}
				{{if RUBY_INFO}}
					<dt>General Ruby interpreter information</dt>
					<dd><pre>{{RUBY_INFO}}</pre></dd>
				{{/if}}
				{{if RBCONFIG}}
					<dt>Ruby configuration (RbConfig::CONFIG)</dt>
					<dd><pre>{{RBCONFIG}}</pre></dd>
				{{/if}}
				{{if ACTIVATED_GEMS}}
					<dt>Activated Ruby gems</dt>
					<dd><pre>{{ACTIVATED_GEMS}}</pre></dd>
				{{/if}}
				{{if LOAD_PATH}}
					<dt>Ruby load path ($LOAD_PATH)</dt>
					<dd><pre>{{LOAD_PATH}}</pre></dd>
				{{/if}}
				{{if LOADED_LIBS}}
					<dt>Ruby loaded libraries ($LOADED_FEATURES)</dt>
					<dd><pre>{{LOADED_LIBS}}</pre></dd>
				{{/if}}
				</dl>
			</div>
		</div>
		<div id="site_footer">
			<!--
			   You are free to modify the footer as you see fit,
			   but we kindly ask of you to preserve to following
			   text. Thank you.
			-->
			<div class="container">
				Powered by <a href="https://www.phusionpassenger.com/">Phusion Passenger</a>,
				<tt>mod_rails</tt> / <tt>mod_rack</tt> for Apache and Nginx.
			</div>
		</div>
	</div>

</body>
</html>

