<!DOCTYPE html>
<html>
  <head>
    <title>We're sorry, but something went wrong: {{TITLE}}</title>
    <style type="text/css">
      {{CSS|raw}}
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="generator" content="Phusion Passenger">
  </head>
  <body>
    <header>
      <div class="column">
        <svg width="50" height="50" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><path d="m731.234002 153.838666v-18.841339c0-4.417534-3.577416-7.997327-7.990382-7.997327h-6.414571c-4.417012 0-7.990383 3.580525-7.990383 7.997327v18.841339h-18.841339c-4.417534 0-7.997327 3.577416-7.997327 7.990383v6.414571c0 4.417011 3.580525 7.990382 7.997327 7.990382h18.841339v18.841339c0 4.417534 3.577416 7.997328 7.990383 7.997328h6.414571c4.417011 0 7.990382-3.580526 7.990382-7.997328v-18.841339h18.841339c4.417534 0 7.997328-3.577416 7.997328-7.990382v-6.414571c0-4.417012-3.580526-7.990383-7.997328-7.990383z" fill="#f87575" transform="matrix(.70710678 -.70710678 .70710678 .70710678 -593.80455139 424.48059756)"/></svg>
        <h1>We're sorry, but something went wrong.</h1>
        <p class="subtitle">The issue has been logged for investigation. Please try again later.</p>
      </div>
    </header>
    <div class="column">
      <a id="show_operator_info" href="#">Technical details for the administrator of this website</a>
      <div id="operator_info" style="display:block">
        <div class="left">
          <h3>Error:</h3>
          <span class="error">{{TITLE}}</span>
          <h3>Error ID:</h3>
          <span class="error">{{ERROR_ID}}</span>
          <h3>Details:</h3>
          {{CONTENT|raw}}
          <h3>System information:</h3>
          <div id="content">
            <dl>
              <dt>Application root</dt>
              <dd>{{APP_ROOT}}</dd>
              <dt>Environment (value of RAILS_ENV, RACK_ENV, WSGI_ENV, NODE_ENV and PASSENGER_APP_ENV)</dt>
              <dd>{{ENVIRONMENT}}</dd>
              {{if IS_RUBY_APP}}
              <dt>Ruby interpreter command</dt>
              <dd><pre>{{RUBY}}</pre></dd>
              {{/if}}
              <dt>User and groups</dt>
              <dd><pre>{{USER_INFO|default=Unknown}}</pre></dd>
              <dt>Environment variables</dt>
              <dd><pre>{{ENVVARS|default=Unknown}}</pre></dd>
              <dt>Ulimits</dt>
              <dd><pre>{{ULIMIT|default=Unknown}}</pre></dd>
              {{if SYSTEM_METRICS}}
              <dt>System metrics</dt>
              <dd><pre>{{SYSTEM_METRICS|default=Unknown}}</pre></dd>
              {{/if}}
              {{if RUBY_INFO}}
              <dt>General Ruby interpreter information</dt>
              <dd><pre>{{RUBY_INFO}}</pre></dd>
              {{/if}}
              {{if RBCONFIG}}
              <dt>Ruby configuration (RbConfig::CONFIG)</dt>
              <dd><pre>{{RBCONFIG}}</pre></dd>
              {{/if}}
              {{if ACTIVATED_GEMS}}
              <dt>Activated Ruby gems</dt>
              <dd><pre>{{ACTIVATED_GEMS}}</pre></dd>
              {{/if}}
              {{if LOAD_PATH}}
              <dt>Ruby load path ($LOAD_PATH)</dt>
              <dd><pre>{{LOAD_PATH}}</pre></dd>
              {{/if}}
              {{if LOADED_LIBS}}
              <dt>Ruby loaded libraries ($LOADED_FEATURES)</dt>
              <dd><pre>{{LOADED_LIBS}}</pre></dd>
              {{/if}}
            </dl>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <!--
       You are free to modify the footer as you see fit,
       but we kindly ask of you to preserve the following
       text. Thank you.
       -->
      <div class="column">
        This website is powered by <b>Passenger</b>&reg;, a rock-solid, feature-rich web application server that integrates with Apache and Nginx.
      </div>
    </footer>
  </body>
</html>
