#!/usr/bin/make -f

export DH_VERBOSE=1
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_DH_INSTALL_SOURCEDIR := $(DEB_DESTDIR)
DEB_INSTALL_DOCS_passenger-doc += DEVELOPERS.TXT $(DEB_DESTDIR)/usr/share/doc/phusion_passenger/
DEB_INSTALL_MANPAGES_passenger-common += man/*

bindir = usr/bin
sbindir = usr/sbin
builddir = pkg/fakeroot
moddir = $(shell apxs2 -q LIBEXECDIR)
modsavailabledir = etc/apache2/mods-available
passengermodule = usr/lib/phusion_passenger/mod_passenger.so
admintools = passenger-memory-stats passenger-make-enterprisey passenger-status

clean::
	rake clean
	rake clobber

build/passenger-common build/libapache2-mod-passenger build/passenger-doc::
	rake fakeroot
	rm -rf $(DEB_DESTDIR)
	mv $(builddir) $(DEB_DESTDIR)

install/passenger-common::
	rm $(DEB_DESTDIR)/usr/bin/passenger-install-*
	mkdir -p $(CURDIR)/debian/$(cdbs_curpkg)/$(sbindir)
	for admintool in $(admintools); do \
	    mv $(DEB_DESTDIR)/$(bindir)/$$admintool $(CURDIR)/debian/$(cdbs_curpkg)/$(sbindir); \
	done;

install/libapache2-mod-passenger::
	mkdir -p $(CURDIR)/debian/$(cdbs_curpkg)/$(moddir)
	mv $(DEB_DESTDIR)/$(passengermodule) $(CURDIR)/debian/$(cdbs_curpkg)/$(moddir)

get-orig-source:
	uscan --verbose --force-download
