#!/usr/bin/make -f
#export DH_VERBOSE=1

export USE_VENDORED_LIBEV=false

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_auto_build:
	/usr/bin/ruby1.8 /usr/bin/rake fakeroot
	mv pkg/fakeroot pkg/fakeroot1.8
	/usr/bin/ruby1.9.1 /usr/bin/rake fakeroot
	mv pkg/fakeroot pkg/fakeroot1.9.1

override_dh_auto_install:
	mkdir debian/tmp/
	cp -a pkg/fakeroot1.8/* debian/tmp/
	cp -a pkg/fakeroot1.9.1/* debian/tmp/
	rm -rf debian/tmp/usr/bin/passenger
	mv debian/tmp/usr/share/doc/phusion-passenger debian/tmp/usr/share/doc/ruby-passenger-doc

override_dh_auto_clean:
	dh_auto_clean -O--buildsystem=ruby
	/usr/bin/ruby1.8 /usr/bin/rake clean
	rm -rf pkg/fakeroot1.8
	rm -rf pkg/fakeroot1.9.1

override_dh_install:
	dh_install --list-missing -O--buildsystem=ruby
