<h1>Uh oh...</h1>

<p>
Have we already told you that MyCook&trade; is currently in beta? We haven't implemented saving of recipes yet!
But for your information, this is what you submitted:
</p>

<ul>
<li>HTTP method: <%=h request.method %></li>
<li>Name: <%=h params[:recipe][:name] %></li>
<li>Instructions: <%=h params[:recipe][:instructions] %></li>
</ul>

