policy_module(rubygem_passenger, 1.0)

require {
  type httpd_t, httpd_tmp_t;
};


# This should use interface macros
allow httpd_t httpd_tmp_t:sock_file { create write unlink getattr setattr };
allow httpd_t self:capability { fowner sys_resource fsetid };
