<% layout 'error_layout', :title => "Cannot start Ruby on Rails application" do %>
<h1 class="error_title">Cannot start Ruby on Rails application</h1>
<div id="content">
	
	The directory <tt class="filename">"<%=h @app_root %>"</tt>
	does not appear to be a valid Ruby on Rails application root.
	
</div>
<% end %>
