<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>We're sorry, but something went wrong: {{TITLE}}</title>
    <style type="text/css">{{CSS|raw}}</style>
  </head>
  <body>
    <header>
      <div class="column">
        <svg width="50" height="50" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><path d="m731.234002 153.838666v-18.841339c0-4.417534-3.577416-7.997327-7.990382-7.997327h-6.414571c-4.417012 0-7.990383 3.580525-7.990383 7.997327v18.841339h-18.841339c-4.417534 0-7.997327 3.577416-7.997327 7.990383v6.414571c0 4.417011 3.580525 7.990382 7.997327 7.990382h18.841339v18.841339c0 4.417534 3.577416 7.997328 7.990383 7.997328h6.414571c4.417011 0 7.990382-3.580526 7.990382-7.997328v-18.841339h18.841339c4.417534 0 7.997328-3.577416 7.997328-7.990382v-6.414571c0-4.417012-3.580526-7.990383-7.997328-7.990383z" fill="#f87575" transform="matrix(.70710678 -.70710678 .70710678 .70710678 -593.80455139 424.48059756)"/></svg>
        <h1>We're sorry, but something went wrong.</h1>
        <p class="subtitle">The issue has been logged for investigation. Please try again later.</p>
      </div>
    </header>
    <div class="column">
      <a id="show_operator_info" href="#" onclick="showOperatorInfo()">Technical details for the administrator of this website</a>
      <div id="operator_info">
        <div class="left">
          <h3>Error ID:</h3>
          <span class="error">{{ERROR_ID}}</span>
          <h3>Details:</h3>
          <p>Web application could not be started by the {{PROGRAM_NAME}} application server.</p>
          <p class="bold">Please read <a href="https://www.phusionpassenger.com/library/admin/log_file/" class="plain">the {{SHORT_PROGRAM_NAME}} log file</a> (search for the Error ID) to find the details of the error.</p>
          <p>You can also get a detailed report to appear directly on this page, but for security reasons it is only provided if {{PROGRAM_NAME}} is run with <i>environment</i> set to <i>development</i> and/or with the <i>friendly error pages</i> option set to <i>on</i>.</p>
          <p>For more information about configuring environment and friendly error pages, see:</p>
          <ul>
            <li><a href="https://www.phusionpassenger.com/library/config/nginx/reference/#passenger_friendly_error_pages">Nginx integration mode</a></li>
            <li><a href="https://www.phusionpassenger.com/library/config/apache/reference/#passengerfriendlyerrorpages">Apache integration mode</a></li>
            <li><a href="https://www.phusionpassenger.com/library/config/standalone/reference/#--friendly-error-pages---no-friendly-error-pages-friendly_error_pages">Standalone mode</a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <!--
       You are free to modify the footer as you see fit,
       but we kindly ask of you to preserve the following
       text. Thank you.
       -->
      <div class="column">
        This website is powered by <a href="{{PROGRAM_WEBSITE}}"><b>{{PROGRAM_NAME}}</b></a>&reg;, the smart application server built by <b>{{PROGRAM_AUTHOR}}</b>&reg;.
      </div>
    </footer>
    <script>
      function showOperatorInfo() {
        document.getElementById('operator_info').style.display = 'block';
      }
    </script>
  </body>
</html>
